
{% load static %}


<aside id="sidebar" class="sidebar" style="width:260px">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="{% url 'dashboard' %}">
                <i class="fa fa-th-large" aria-hidden="true"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{% url 'profile' %}">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                <span>Profile</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{% url 'student-list' %}">
             <i class="fa fa-street-view" aria-hidden="true"></i>
                <span>Student</span>
            </a>
        </li>

         <li class="nav-item">
            <a class="nav-link " href="{% url 'lecturer-list' %}">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span>Lecturer</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{% url 'courses-list' %}">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <span>Course</span>
            </a>
        </li>






    </ul>

</aside><!-- End Sidebar-->