
{% load static %}


<aside id="sidebar" class="sidebar" style="width:210px">
    <ul class="sidebar-nav" id="sidebar-nav">
         {% if request.user.user_type == 1  %}
        <li class="nav-item">
            <a class="nav-link " href="{% url 'dashboard' %}">
                <i class="fa fa-th-large" aria-hidden="true"></i>
                <span>Dashboard</span>
            </a>
        </li>
        {% endif %}
        {% if request.user.user_type == 2  %}
                <li class="nav-item">
            <a class="nav-link " href="{% url 'student-dashboard' %}">
                <i class="fa fa-th-large" aria-hidden="true"></i>
                <span>Dashboard</span>
            </a>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link " href="{% url 'profile' %}">
                <i class="fa fa-user-secret" aria-hidden="true"></i>
                <span>Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'programs-list' %}">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <span>Departments </span>
            </a>
        </li>
         {% if request.user.user_type == 2  %}
        <li class="nav-item">
            <a class="nav-link " href="{% url 'student-course-list' %}">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
                <span>My Courses</span>
            </a>
        </li>
        {% endif %}

        {% if request.user.user_type == 1  %}

        <li class="nav-item">
            <a class="nav-link " href="{% url 'institute-info' %}">
                <i class="fa fa-university" aria-hidden="true"></i>
                <span>Institute Info</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'student-list' %}">
                <i class="fa fa-street-view" aria-hidden="true"></i>
                <span>Student</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'lecturer-list' %}">
                <i class="fa fa-book" aria-hidden="true"></i>
                <span>Lecturer</span>
            </a>
        </li>
         <li class="nav-item">
            <a class="nav-link " href="{% url 'allocated-courses-list' %}">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span>Course Allocation</span>
            </a>
        </li>
        {% endif %}





    </ul>

</aside><!-- End Sidebar-->