{% extends 'common/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block messages%}

{% endblock %}


{% block content %}
<!--Main section -->
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <div class="form-group">
            {% if messages %}
            {% for message in messages  %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success">
                {{message}}
            </div>
            {% else %}
            <div class="alert alert-danger">
                {{message}}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard {{ page_title }}</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <!--   Total Students Card-->
                    <div class=" col-md-4">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Total Students </h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{students}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Total Students Card -->

                    <!-- Total Lecturers Card -->
                    <div class=" col-md-4">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Total Lecturers</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{lecturers}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Total Lecturers Card -->

                    <!-- Total Courses Card -->
                    <div class=" col-xl-4">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Total Courses</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{courses}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Total Courses Card -->

<!--                    &lt;!&ndash; Total Subjects Card &ndash;&gt;-->
<!--                    <div class="col-xxl-3 col-xl-12">-->
<!--                        <div class="card info-card customers-card">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Total Subjects</h5>-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">-->
<!--                                        <i class="fa fa-book" aria-hidden="true"></i>-->
<!--                                    </div>-->
<!--                                    <div class="ps-3">-->
<!--                                        <h6>{{total_subjects}}</h6>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; End Total Subjects Card &ndash;&gt;-->

<!--                    &lt;!&ndash; Students and Staff Charts &ndash;&gt;-->
<!--                    <div class="col-lg-6">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Students and Staff</h5>-->
<!--                                <canvas id="pieChart" style="max-height: 400px;"></canvas>-->
<!--                                <script>-->
<!--                                      document.addEventListener("DOMContentLoaded", () => {-->
<!--                                        new Chart(document.querySelector('#pieChart'), {-->
<!--                                          type: 'pie',-->
<!--                                          data: {-->
<!--                                            labels: [-->
<!--                                              'Staffs',-->
<!--                                              'Students'-->
<!--                                            ],-->
<!--                                            datasets: [{-->
<!--                                              data: [ {{total_staffs}}, {{total_students}}],-->
<!--                                              backgroundColor: [-->
<!--                                                'rgb(54, 162, 235)',-->
<!--                                                'rgb(255, 205, 86)'-->
<!--                                              ],-->
<!--                                              hoverOffset: 4-->
<!--                                            }]-->
<!--                                          }-->
<!--                                        });-->
<!--                                      });-->
<!--                                    </script>-->
<!--                                &lt;!&ndash; End Students and Staff CHart &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    &lt;!&ndash; Total Subjects in Each Course Chart &ndash;&gt;-->
<!--                    <div class="col-lg-6">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Total Subjects in Each Course</h5>-->
<!--                                <canvas id="doughnutChart" style="max-height: 400px;"></canvas>-->
<!--                                <script>-->
<!--                                      document.addEventListener("DOMContentLoaded", () => {-->
<!--                                        var course_name_list = {{ courses_name_list|safe }}-->
<!--                                        var subject_count_list = {{ subjects_course }}-->
<!--                                        new Chart(document.querySelector('#doughnutChart'), {-->
<!--                                          type: 'doughnut',-->
<!--                                          data: {-->
<!--                                            labels: course_name_list,-->
<!--                                           datasets: [-->
<!--                                              {-->
<!--                                                data: subject_count_list,-->
<!--                                                backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],-->
<!--                                                hoverOffset: 4-->
<!--                                              }-->
<!--                                            ]-->
<!--                                          }-->
<!--                                        });-->
<!--                                      });-->
<!--                                    </script>-->
<!--                                &lt;!&ndash; End Total Subjects in Each Course  CHart &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; End Charts &ndash;&gt;-->

<!--                    &lt;!&ndash; Staff Attendance vs Leave Chart &ndash;&gt;-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Staff Attendance vs Leave</h5>-->
<!--                                <div id="columnChart"></div>-->
<!--                                <script>-->
<!--                                      document.addEventListener("DOMContentLoaded", () => {-->
<!--                                        var staffs_name_list = {{ staffs_name_list|safe }}-->
<!--                                        var staff_leave = {{ staff_leave|safe }}-->
<!--                                        var staff_present = {{ staff_present|safe }}-->
<!--                                        new ApexCharts(document.querySelector("#columnChart"), {-->
<!--                                          series: [{-->
<!--                                              name: 'Attendance',-->
<!--                                              data: staff_present-->
<!--                                            }, {-->
<!--                                              name: 'Leave',-->
<!--                                              data: staff_leave-->
<!--                                            }],-->
<!--                                          chart: {-->
<!--                                            type: 'bar',-->
<!--                                            height: 350-->
<!--                                          },-->
<!--                                          plotOptions: {-->
<!--                                            bar: {-->
<!--                                              horizontal: false,-->
<!--                                              columnWidth: '35%',-->
<!--                                              endingShape: 'rounded',-->
<!--                                            },-->
<!--                                          },-->
<!--                                          dataLabels: {-->
<!--                                            enabled: false-->
<!--                                          },-->
<!--                                          stroke: {-->
<!--                                            show: true,-->
<!--                                            width: 2,-->
<!--                                            colors: ['transparent']-->
<!--                                          },-->
<!--                                          xaxis: {-->
<!--                                            categories: staffs_name_list,-->
<!--                                          },-->
<!--                                          yaxis: {-->
<!--                                            title: {-->
<!--                                              text: '',-->
<!--                                            },-->
<!--                                          },-->
<!--                                          fill: {-->
<!--                                           colors:  ['#4f736d', '#9728a8'],-->
<!--                                            opacity: 1-->
<!--                                          },-->
<!--                                          tooltip: {-->
<!--                                            y: {-->
<!--                                              formatter: function(val) {-->
<!--                                                return val-->
<!--                                              }-->
<!--                                            }-->
<!--                                          }-->
<!--                                        }).render();-->
<!--                                      });-->
<!--                                    </script>-->
<!--                                &lt;!&ndash; End Staff Attendance vs Leave Chart &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Total Students in Each Course Chart &ndash;&gt;-->
<!--                    <div class="col-lg-6">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Total Students in Each Course</h5>-->
<!--                                &lt;!&ndash; Total Students in Each Course Chart &ndash;&gt;-->
<!--                                <canvas id="pie_chart" style="max-height: 400px;"></canvas>-->
<!--                                <script>-->
<!--                                      document.addEventListener("DOMContentLoaded", () => {-->
<!--                                        var course_name_list = {{ courses_name_list|safe }}-->
<!--                                        var students_count_list = {{ students_course }}-->
<!--                                        new Chart(document.querySelector('#pie_chart'), {-->
<!--                                          type: 'pie',-->
<!--                                          data: {-->
<!--                                            labels: course_name_list,-->
<!--                                            datasets: [{-->
<!--                                              data: students_count_list,-->
<!--                                               backgroundColor : ['#a45934', '#10a65a', '#fc6512', '#01f0ef', '#300dbc', '#d21dde'],-->
<!--                                              hoverOffset: 4-->
<!--                                            }]-->
<!--                                          }-->
<!--                                        });-->
<!--                                      });-->
<!--                                    </script>-->
<!--                                &lt;!&ndash; End Total Students in Each Course CHart &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    &lt;!&ndash; Total Students in Each Subject Chart &ndash;&gt;-->
<!--                    <div class="col-lg-6">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Total Students in Each Subject</h5>-->
<!--                                &lt;!&ndash; Total Students in Each Subject Chart &ndash;&gt;-->
<!--                                <canvas id="doughnut_chart" style="max-height: 400px;"></canvas>-->
<!--                                <script>-->
<!--                                      document.addEventListener("DOMContentLoaded", () => {-->
<!--                                      var subject_name = {{subject_name|safe}}-->
<!--                                      var student_list = {{students_count}}-->
<!--                                        new Chart(document.querySelector('#doughnut_chart'), {-->
<!--                                          type: 'doughnut',-->
<!--                                          data: {-->
<!--                                            labels: subject_name,-->
<!--                                            datasets: [{-->
<!--                                              data: student_list,-->
<!--                                              backgroundColor: [-->
<!--                                                'rgb(255, 99, 132)',-->
<!--                                                'rgb(54, 162, 235)',-->
<!--                                                'rgb(255, 205, 86)'-->
<!--                                              ],-->
<!--                                              hoverOffset: 4-->
<!--                                            }]-->
<!--                                          }-->
<!--                                        });-->
<!--                                      });-->
<!--                                    </script>-->
<!--                                &lt;!&ndash; End Total Students in Each Subject  Chart &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; End second Charts &ndash;&gt;-->


<!--                    &lt;!&ndash; Student Attendance vs Leave Chart &ndash;&gt;-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="card">-->
<!--                            <div class="card-body">-->
<!--                                <h5 class="card-title">Student Attendance vs Leave</h5>-->
<!--                                &lt;!&ndash; Student Attendance vs Leave Chart &ndash;&gt;-->
<!--                                <div id="column_chart"></div>-->
<!--                                <script>-->
<!--                                document.addEventListener("DOMContentLoaded", () => {-->
<!--                                  var students_name_list = {{ students_name_list|safe }}-->
<!--                                  var student_leave = {{ student_leave|safe }}-->
<!--                                  var student_present = {{ student_present|safe }}-->
<!--                                    console.log(student_present)-->
<!--                                  new ApexCharts(document.querySelector("#column_chart"), {-->
<!--                                    series: [{-->
<!--                                      name: 'Attendance',-->
<!--                                      data: student_present-->
<!--                                    }, {-->
<!--                                      name: 'Leave',-->
<!--                                      data: student_leave-->
<!--                                    }],-->
<!--                                    chart: {-->
<!--                                      type: 'bar',-->
<!--                                      height: 350-->
<!--                                    },-->
<!--                                    plotOptions: {-->
<!--                                      bar: {-->
<!--                                        horizontal: false,-->
<!--                                        columnWidth: '35%',-->
<!--                                        endingShape: 'rounded'-->
<!--                                      },-->
<!--                                    },-->
<!--                                    dataLabels: {-->
<!--                                      enabled: false-->
<!--                                    },-->
<!--                                    stroke: {-->
<!--                                      show: true,-->
<!--                                      width: 2,-->
<!--                                      colors: ['transparent']-->
<!--                                    },-->
<!--                                    xaxis: {-->
<!--                                      categories: students_name_list,-->
<!--                                    },-->
<!--                                    yaxis: {-->
<!--                                      title: {-->
<!--                                        text: ''-->
<!--                                      }-->
<!--                                    },-->
<!--                                    fill: {-->
<!--                                       colors:  ['#1B73E8', '#B32824'],-->
<!--                                       opacity: 1-->
<!--                                    },-->
<!--                                    tooltip: {-->
<!--                                      y: {-->
<!--                                        formatter: function(val) {-->
<!--                                          return val-->
<!--                                        }-->
<!--                                      }-->
<!--                                    }-->
<!--                                  }).render();-->
<!--                                });-->
<!--                              </script>-->
<!--                                &lt;!&ndash; End Student Attendance vs Leave Chart &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

                </div>
            </div>
        </div>
    </section>
</main>
<!-- End main -->

{% endblock content %}
